.DS_Store
.idea
Curriculum/Module 12 - Windows and AD Security/lectures/.obsidian/workspace.json
Curriculum/Module 12 - Windows and AD Security/lectures/.obsidian/hotkeys.json
Curriculum/Module 12 - Windows and AD Security/lectures/.obsidian/core-plugins.json
Curriculum/Module 12 - Windows and AD Security/lectures/.obsidian/core-plugins-migration.json
Curriculum/Module 12 - Windows and AD Security/lectures/.obsidian/appearance.json
Curriculum/Module 12 - Windows and AD Security/lectures/.obsidian/app.json
